#div-portfolio-box {
    border: 1px solid lightgrey;
    width: 1000px;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 100px;
}

#h3-portfolio-name {
    text-align: center;
}

@media screen and (max-width: 960px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
    #div-portfolio-box {
        height: 400px;
        margin-top: 10px;
        margin-bottom: 45px;
    }
}